.gmx-sidebar-select
    box-sizing: border-box
    width: 100px
    height: 33px
    padding: 0 8px
    border-radius: 3px
    background-color: #f7fbff
    border: 1px solid #d7e1e7
    &-medium
        @extend .gmx-sidebar-select
        width: 70%
    &-large
        @extend .gmx-sidebar-select
        width: 100%
    &-with-addon
        @extend .gmx-sidebar-select
        display: table-cell
        float: left
        width: 85%
        border-top-right-radius: 0
        border-bottom-right-radius: 0
        &-small
            @extend .gmx-sidebar-select-with-addon
            width: 60%
