@import 'icons.sass'

.forest-plugin-container
    font-family: "Roboto"
    border-collapse: collapse
    padding-bottom: 17px

.forest-plugin-header
    height: 40px
    line-height: 40px
    padding-left: 10px
    background-color: #ebf1f5
    font-size: 18px
    font-weight: bold
    color: rgb(91,114,132)
    font-family: Arial
    color:  #181f25
    font-size: 15px
    font-weight: 600;
    text-align: left
    border-bottom: 1px solid #bbb

.gmx-sidebar-labeled-block
    margin-top: 4px
    padding: 0 10px
    width: auto
    display: grid
    text-align: left

.forest-loader-holder
    font-family: "Roboto"
    width: 100%
    text-align: center

.forest-features-block
    padding: 0 10px
