@import "./L.Control.gmxTimeLine.css";
html, body {
    width: 100%;
    margin: 0px;
}

body {
    background-color: #F3F3F3;
    background-color: white;
    font-family: Arial;
}

h2 {
    text-align: center;
}

#map {
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100vh;
    margin: 0;
}
.left-panel {
    width: 360px;
    height: 100%;
    float: left;
    text-align: center;
    overflow-y: scroll;
}

.content {
    width: 100%;
}

.width-setting {
    vertical-align: middle;
}

.reset {
    width: 120px;
    margin: auto;
}

.div-table {
    margin: 8 0;
    display: table;
    width: auto;
}

.div-table-row {
    display: table-row;
    width: auto;
    clear: both;
}

.div-table-col {
    float: left; /* fix for  buggy browsers */
    display: table-column;
    width: 120px;
    max-width: 120px;
}

.div-table-col input {
    width: 120px;
    margin: 0;
}

.div-table-col .width-type {
    text-align: left;
}

/**/


.gmx-features-list {
    max-height: 360px;
    /* overflow-y: scroll; */
}

.gmx-features-list:focus {
    outline: none;
}

.gmx-list-item {
    height: 30px;
    cursor: pointer;
}

.gmx-list-item.active {
    background-color: #eee;
}

.forest-select-block {
    padding: 10px;
    width: auto;
}

.feature-list-item-part {
    width: 50%;
}

.feature-list-item-part-left {
    float: left;
}

.feature-list-item-part-right {
    float: right;
}
