body {
  background: rgb(204,204,204);
}
section {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
section[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}
section[size="A4"][layout="portrait"] {
  width: 29.7cm;
  height: 21cm;
}

@media print {
  body, section {
    margin: 0;
    box-shadow: 0;
  }
}

.preview-header {
    width: 100%;
    text-align: center;
    font-size: 18px;
}

#preview-map-container {
    float: left;
    width: 50%;
    height: 50%;
    border: solid 2px red;
}

#preview-params-container {
    float: right;
    width: 50%;
}

.preview-row-part {
    width: 50%;
    display: inline-block;
}

.preview-row-label {
    font-weight: bold;
}

.preview-row-value {

}
