@import "./icon.sass"

.ReactTable
    position: relative
    border: 1px solid #d7e1e7
    min-width: 100%

.ReactTable *
    box-sizing: border-box

.ReactTable .rt-table
    -webkit-box-align: stretch
    -ms-flex-align: stretch
    align-items: stretch
    width: 100%
    border-collapse: collapse
    overflow: auto
    background-color: #ffffff

.ReactTable .rt-thead
    border-collapse: collapse
    cursor: pointer
    width: 100%
    height: 20px
    border-radius: 3px
    background-color: #f7fbff

.ReactTable .rt-th
    border: 1px solid #d7e1e7
    // border-left: 1px solid #d7e1e7
    // border-right: 1px solid #d7e1e7

.ReactTable .rt-th,
.ReactTable .rt-td
    display: table-cell


.ReactTable .rt-resizable-header-content
    text-align: center

.ReactTable .rt-resizable-header-content,
.ReactTable .rt-td
    padding: 0 6px

.ReactTable .-pagination
    display: table
    width: 100%

.ReactTable .-pagination button
    padding: 0 6px

.ReactTable .-previous,
.ReactTable .-center,
.ReactTable .-next
    display: table-cell

.ReactTable .-center
    padding: 0 10px

.ReactTable .-pageJump
    width: 40%
    display: inline-block

.ReactTable .-pageJump input
    width: 100%

.ReactTable .-pagination button
    height: 40px
    border-radius: 3px
    background-color: #d7e1e7
    border: 1px solid #d7e1e7
    cursor: pointer

.ReactTable .rt-thead.-headerGroups


.ReactTable .rt-thead.-filters


.ReactTable .rt-thead.-filters input, .ReactTable .rt-thead.-filters select

.ReactTable .rt-thead.-filters .rt-th

.ReactTable .rt-thead.-header

.ReactTable .rt-thead .rt-tr
